@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

.connected {
	background: green !important;
	color: white;
}

.notconnected {
	background: orange !important;
}

div[class^="MuiGrid-typeContainer-"], div[class*=" MuiGrid-typeContainer-"] {
	padding: 5px 10px 5px 10px;
}

body {
	background: black !important;
}

div[class^="Channels-peerGroup-"], div[class*="Channels-peerGroup-"]{
	background: transparent !important;
	margin-bottom: -7px;
}

div[class^="Contracts-peerGroup-"], div[class*="Contracts-peerGroup-"] {
	background: transparent;
}

div[class^="ChannelCard-cardDisabled-"], div[class*="ChannelCard-cardDisabled-"] {
	background: transparent;
}

header {
	background-color: transparent !important;
}

button[class^="MuiIconButton-root-"], button[class*="MuiIconButton-root-"] {
	color: white !important;
}

span[class^="MuiCardHeader-title-"], span[class*="MuiCardHeader-title-"] {
	color: white !important;
	font-size: 60px;
}

div[class^="MuiGrid-typeItem-"], div[class*="MuiGrid-typeItem-"] {
	background: transparent !important;
}
